<div class="main">
    <nx-tab-group [(selectedIndex)]="currentIndex">
        <nx-tab label="Home">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-4">
                    <article class="tile is-child">
                        <figure class="image is-2by1">
                            <img src="https://live.staticflickr.com/7220/7024122097_ff0090fe95_b.jpg">
                        </figure>
                        <p class="title">Hello this is Topic for first draft so don’t mind</p>
                        <p class="subtitle">
                            Gide Photographer in Knowledge<br><br>6 Aug 2019 </p>
                    </article>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child">
                        <figure class="image is-2by1">
                            <img src="https://live.staticflickr.com/7220/7024122097_ff0090fe95_b.jpg">
                        </figure>
                        <p class="title">Hello this is Topic for first draft so don’t mind</p>
                        <p class="subtitle">
                            Gide Photographer in Knowledge<br><br>6 Aug 2019 </p>
                    </article>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child">
                        <figure class="image is-2by1">
                            <img src="https://live.staticflickr.com/7220/7024122097_ff0090fe95_b.jpg">
                        </figure>
                        <p class="title">Hello this is Topic for first draft so don’t mind</p>
                        <p class="subtitle">
                            Gide Photographer in Knowledge<br><br>6 Aug 2019 </p>
                    </article>
                </div>
            </div>
  
  
            <div class="tile is-ancestor">
                <div class="tile is-parent is-4">
                    <article class="tile is-child is-6">
                        <figure class="image is-1by1">
                            <img style='height: 100%; width: 100%;' src="https://i.kym-cdn.com/photos/images/original/001/509/524/49b.jpg">
                        </figure>
                    </article>
                    <article class="tile is-child is-6">
                        <p style="font-size: 1.5rem;" class="title">Obamos life cycle!!</p>
                        <p class="subtitle">Gide Photographer in Knowledge</p>
                        <p class="supdate">6 Aug 2019</p>
                    </article>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child is-6">
                        <figure class="image is-1by1">
                            <img style='height: 100%; width: 100%;' src="https://pics.me.me/i-present-to-you-obamos-another-obama-thanos-meme-49830049.png">
                        </figure>
  
                    </article>
                    <article class="tile is-child is-6">
                        <p style="font-size: 1.5rem;" class="title">Obamos!!</p>
                        <p class="subtitle">Gide Photographer in Knowledge</p>
                        <p class="supdate">6 Aug 2019</p>
                    </article>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child is-6">
                        <figure class="image is-1by1">
                            <img style='height: 100%; width: 100%;' src="https://i.kym-cdn.com/photos/images/original/001/509/524/49b.jpg">
                        </figure>
                    </article>
                    <article class="tile is-child is-6">
                        <p style="font-size: 1.5rem;" class="title">Obamos life cycle!!</p>
                        <p class="subtitle">Gide Photographer in Knowledge</p>
                        <p class="supdate">6 Aug 2019</p>
                    </article>
                </div>
            </div>
        </nx-tab>
  
        <nx-tab label="Knowledge">
            <div class="tab__content">
                <div class="tile is-ancestor is-12">
                    <h1>This is Knowledge page</h1>
                </div>
            </div>
        </nx-tab>
        <nx-tab label="Contact">
            <div class="tab__content">
                <h1>This is Contact page</h1>
            </div>
        </nx-tab>
  
    </nx-tab-group>
  </div>